/* .container{
    display: flex;
    width: 90%;
    height: auto;
     flex-direction: row; 
     justify-content: center;
     flex-wrap: wrap;
     
     border: solid whitesmoke;
       
    
 } */
 .home{
     flex: 1;
 }
 .todo{
    flex: 1;
 }
 .Products{
     flex: 1;
 }
 .employee{
     flex: 1;
 }